.anuncios-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 30px; 
    padding: 20px 0; 
}

.anuncio {
    flex: 0 0 calc(33.33% - 20px); 
    text-align: center; 
    margin-bottom: 20px; 
}

.anuncio img {
    width: 160px;
    max-width: 100%; 
    height: auto; 
}

.anuncio p, h3{
    color: rgb(54, 54, 54);
}