.carousel {
    position: relative;
    text-align: center;
}

.carousel-image {
    width: 80%;
    height: auto;
    margin: auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}

.indicator.active {
    background-color: black;
}
