.navbar-brand {
    font-weight: bold;
    font-size: 22px;
}

.card {
    margin-top: 80px;
}

.card-title {
    font-size: 28px; 
}

.card-text {
    font-size: 20px; 
}

.form-label {
    font-size: 18px; 
}

.form-control {
    font-size: 18px; 
}